body {
    background-color: rgb(25, 117, 148);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    color: rgb(247, 247, 250);
}

input[type="text"] {
    width: 50%; 
    padding: 5px; 
    margin: 5px 0;
    box-sizing: border-box;
}
